*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card{
  width: 350px;
  background-color: white;
  border-radius: 12px;
  padding: 12px;
  
}

.card img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.heading2{
  font-size: 30px;
  margin-top: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: #212121;
}
.smalltext{
  font-size: 18px;
  color: #616161;
  font-weight: 300;
  opacity: 0.8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 5px;
}

.buynow{
  margin-top: 10px;
  padding: 8px 12px;
  border-radius: 6px;
  outline: none;
  border: none;
  color: white;
  background-color: #212121;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.buynow:hover{
  background-color: #313131;
}