h1{
    font-size: 150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    gap: 20px;
    padding: 20px;
}
li{
    list-style: none;
}

.card{
    width: 300px;
    padding: 8px;
    border-radius: 12px;
    background-color: rgb(152, 199, 215);
}
.card img{
    width: 100%;
    border-radius: 8px;

}
.card .text{
    margin-top: 10px;

}

h2{
    font-size: 20px;
    font-family: sans-serif;
}
.card-parent{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
p{
    font-size: 14px;
    color: #515151;
    margin-top: 5px;
}
button{
    padding: 10px 12px;
    background-color: white;
    color: black;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-top: 10px;

}